<ng-include src=" dir + '/form.html' "></ng-include>
	<!-- TITLE ROW -->
	<div class="row-fluid projects">
		<div class="span8">
			
			<div class="row-fluid">
			    <div class="span5">
			      <h2>Latest Posts</h2>
			    </div>
			</div>
		</div>
	    <div class="span4">
	    	
	    </div>
	</div>
	<!-- LOOP THROUGH POSTS / ROWS -->
	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid projects" ng-repeat="post in posts">
			    <div class="span12">
			      <a class="title" href="#/view/{{post.ID}}">{{post.post_title}}</a>
			      <span class="date">{{datify(post.post_date)}}</span>
			      <p>{{post.post_excerpt}} <a href="{{site + '#/view/' + post.ID}}">Read More >></a></p>
			      <button ng-click="delete($index, post)" ng-show="$root.user">Delete</button>
			      <button ng-click="edit(post)" data-toggle="modal" data-target="#save" ng-show="$root.user">Edit</button>
			    </div>
			</div>
		</div>
	    <ng-include src=" dir + '/sidebar.html' "></ng-include>
	</div>
	
	<!-- ADD POST -->
    <div class="row-fluid" ng-show="$root.user">
      <div class="span12"><button ng-click="add()" data-toggle="modal" data-target="#save">add</button></div>
	</div> 