<ng-include src=" dir + '/form.html?v=2' "></ng-include>
	<!-- LOOP THROUGH POSTS / ROWS -->
	<div class="row">
		<div class="col-sm-8">			
			<div class="row-fluid">
			    <div class="col-sm-12">
				    <ng-include  src=" dir+ '/block.php?id=2&title=true&v=2' "></ng-include>
				    <h3>Latest Posts</h3>
				    <article ng-repeat="post in posts" class="projects">
					    <a class="title" href="#/post/{{post.slug}}">{{post.title}}</a>
					    <p ng-bind-html="post.excerpt | to_trusted"></p>
					    <a class="btn btn-primary btn-small" href="{{site + '#/post/' + post.slug}}">Read More >></a>
					    <!-- EDIT -->
					    <div ng-show="$root.user" class="edit">
						    <button ng-click="delete($index, post)" class="btn btn-mini">Delete</button>
						    <button ng-click="edit(post)" data-toggle="modal" data-target="#save" class="btn btn-mini">Edit</button>
						</div>
				    </article>
				</div>
			</div>
		</div>
		<!-- SIDEBAR -->
		<div class="col-sm-4 sidebar" ng-controller="SidebarCtrl">
	    	<ng-include src="SidebarURL"></ng-include>
		</div>
	</div>
	
	<!-- ADD POST -->
    <div class="row" ng-show="$root.user">
      <div class="col-sm-12"><button ng-click="add()" data-toggle="modal" data-target="#save">add</button></div>
	</div> 