/** LESS MIX-INS **/
/** SITE WIDE **/
body {
  margin: 0;
  padding: 0;
  background: #2F9CCD;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/** HEADER **/
header {
  padding: 20px 0;
  color: #FFF;
  background: #63b6db;
  /* Old browsers */

  background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63b6db), color-stop(100%, #309dcf));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #63b6db 0%, #309dcf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b6db', endColorstr='#309dcf', GradientType=0);
  /* IE6-9 */

}
header a {
  color: #e7e7e7;
  text-decoration: none;
}
header a:hover {
  color: #FFF;
}
header h1 {
  margin: 0;
}
header h1 a {
  color: #FFF;
}
header h1 a:hover {
  color: #FFF;
  text-decoration: none;
}
header span {
  display: block;
  font-size: 14px;
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 0 15px;
  text-transform: uppercase;
  font-size: 18px;
}
nav ul li a:hover {
  text-decoration: none;
}
nav ul li:first-child a {
  padding-left: 0;
}
nav ul li:last-child a {
  padding-right: 0;
}
nav ul li.active a {
  color: #FFF;
}
/** CONTENT **/
.content-wrapper {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  background: #FFF;
}
/** PROJECTS ROW **/
article.projects {
  padding: 10px 0;
}
article.projects span.date {
  display: block;
  font-size: 14px;
  font-style: italic;
  color: #05057c;
}
article.projects a {
  line-height: 20px;
}
article.projects a.title {
  color: #05057c;
  display: block;
  font-size: 20px;
}
article.projects p {
  padding-right: 20px;
}
article.projects div.edit {
  display: inline-block;
  padding: 0 0 0 5px;
}
/** SAVE MODAL **/
div#save {
  padding: 20px;
}
div#save form {
  width: 100%;
}
div#save form input,
div#save form textarea,
div#save form button {
  width: 90%;
  display: block;
  margin: 0 auto;
}
div#save form input[type="submit"],
div#save form button {
  padding: 10px;
  margin: 10px auto;
}
div#save form textarea {
  height: 400px;
}
div#save form span.mceEditor {
  width: 93%;
  padding: 4px 6px;
  display: block;
  margin: 0 auto;
  position: relative;
}
div#save form span.mceEditor table {
  width: 100%;
}
/** SIDEBAR **/
div.sidebar section {
  margin-bottom: 40px;
  padding: 10px 0;
}
div.sidebar section:first-child {
  padding-top: 0;
}
div.sidebar section h4 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
div.sidebar section form#comment-form span.help-block {
  font-style: italic;
  color: red;
  font-size: 10px;
}
/** COMMENTS **/
article.comment span.author {
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}
article.comment blockquote {
  display: block;
  padding: 10px 0 10px 20px;
  margin: 10px 0;
}
/** FOOTER **/
footer {
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  -o-box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.4);
  padding: 20px 0;
  color: #FFF;
  background: #63b6db;
  /* Old browsers */

  background: -moz-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #63b6db), color-stop(100%, #309dcf));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #63b6db 0%, #309dcf 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #63b6db 0%, #309dcf 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b6db', endColorstr='#309dcf', GradientType=0);
  /* IE6-9 */

}
