	<!-- LOOP THROUGH POSTS / ROWS -->
	<div class="row-fluid projects">
	    <div class="col-sm-12">
	      <h2>Users</h2>
	    </div>
	</div>
	<div class="row-fluid" ng-controller="UserCtrl">
	    <div class="col-sm-8">
		    <pre>
		    	{{Users || json}}
		    	{{User || json}}
		    </pre>
		    <form ng-submit="save()" id="newUser" ng-hide="User">
		    	<div>
		    		<input type="text" required ng-model="openUser.user_nicename" />
		    	</div>
		    	<div>
		    		<input type="email" required ng-model="openUser.user_email" />
		    	</div>
		    	<div>
		    		<input type="submit" value="NEW USER" class="btn btn-primary" />
		    	</div>
		    </form>
		    <p style="display:none" class="newUserLink"><a href="{{site}}/#/users/{{newUser}}">New User Created</a></p>
	    </div>
	    <div class="col-sm-4 sidebar" ng-controller="SidebarCtrl">
			<ng-include src="SidebarURL"></ng-include>
	    </div>
	</div>
	